.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #283618;
  /* border: 10px solid #fefae0; /* Thin border around the whole page */
  /* border-radius: 10px;
  margin: 10px 10px; */
}

.navlist {
  position: absolute; /* Absolute position */
  top: 20px; /* Align to the top */
  right: 0; /* Align to the right */
  background-color: #dda15e; /* Navbar background color */
  width: 30%;
  height: 50px;
  list-style-type: none; /* Remove default list style */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlist li {
  margin-right: 30px;
}

.navlist a {
  text-decoration: none; /* Remove underline from links */
  color: #283618; /* Link color */
  text-transform: uppercase;
}

/*header that has title, hours, images etc) DOESNT HAVE NAV*/
.header {
  /* text-align: center; */
  /* background-color: red; Dark background color */
  /* background-color: #283618; */
  color: #fefae0; /* Text color */
  height: 1000px;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}

.title-description {
  background-color: #fefae0; /* Background color for title and description */
  color: #283618;
  margin-bottom: 50px; /* Space between title/description and feature boxes */
  width: 100%; /* Full width of the header */
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack children vertically */
  border-radius: 50px; /* Rounded corners */
  flex-wrap: nowrap; /* Prevent text wrapping */
}

.title-description h1 {
  font-size: 70px; /* Adjust as needed */
  margin: 0;
  margin-top: 20px;
}

.title-description h3 {
  margin: 0;
  font-size: 25px;
}

.incc {
  display: inline-block;
  background-color: #780000;
  color: #fefae0;
  padding: 10px 20px;
  border-radius: 20px;
}

.title-description h4 {
  margin: 0;
  margin-bottom: 20px;
}

.open {
  margin-top: 30px;
  text-transform: uppercase;
  background-color: #283618;
  color: #fefae0;
  padding: 10px 100px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .title-description h1 {
    font-size: 50px; /* Decrease font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .title-description h1 {
    font-size: 40px; /* Further decrease font size for even smaller screens */
  }
}

/*container that holds both features*/
.dualfeatureboxes {
  display: flex;
  height: 50%; /* Adjust height as needed */
}

/* Set width and background color for the first feature box */
#feature-box1 {
  width: 40%;
  background-color: #606c38;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack children vertically */
  border-radius: 30px; /* Rounded corners */
}

.day-box {
  width: 80%;
  /* background-color: #fefae0; */
  color: #fefae0; /* Default background color */
  font-size: 15px;
  margin-bottom: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.hours-box {
  margin-bottom: 10px;
  background-color: #d4a373;
  color: #fefae0;
  font-size: 15px;
}

/* Set width, margin, and background color for the second feature box */
#feature-box2 {
  width: calc(60% - 20px); /* 70% width minus space for margin */
  margin-left: 20px; /* Space between the two feature boxes */
  background-color: #283618; /* Dark background color */ /* Background color for the second feature box */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space evenly between the children */
}

.dualimage-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space evenly between the images */
  height: 50%; /* Half of the feature box height */
}

.dualimage {
  width: calc(50% - 10px); /* 50% width minus 1px for the margin */
  height: 100%; /* Full height of the image container */
  border-radius: 10px; /* Rounded corners */
}
.single-image {
  width: 100%; /* Full width of the feature box */
  height: calc(50% - 10px); /* Half of the feature box height */
  border-radius: 10px; /* Rounded corners */
}

/* Different background colors for each day
.monday {
  background-color: #ff0000;
}
.tuesday {
  background-color: #00ff00;
}
.wednesday {
  background-color: #0000ff;
}
.thursday {
  background-color: #ffff00;
}
.friday {
  background-color: #ff00ff;
}
.saturday {
  background-color: #00ffff;
}
.sunday {
  background-color: #ff9900;
} */

.main {
  /* background-color: purple; */
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}

/* .shortabout{
  background-color:#d4a373;
  border-radius: 30px; /* Rounded corners */

.description {
  text-align: center;
  background-color: orange;
  padding: 20px;
  border-radius: 30px; /* Rounded corners */
  font-size: 20px;
}

.triplebox {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: row;
  /* background-color: yellowgreen; */
  height: 200px;
}

.programbox,
.venuebox,
.openspacebox {
  background-color: #780000;
  border-radius: 10px; /* Rounded corners */
  width: 30%;
  margin: 0 5px;
  height: 100%;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack children vertically */
  border-radius: 30px; /* Rounded corners */
  text-align: center;
}

.program {
  width: 80%;
  background-color: #fefae0;
  color: #bc6c25; /* Default background color */
  font-size: 10px;
  margin-bottom: 1px;
  font-weight: bold;
  padding: 2px;
}

.venue,
.venueinfo {
  width: 80%;
  background-color: #fefae0;
  color: #bc6c25; /* Default background color */
  font-size: 10px;
  margin-bottom: 1px;
  font-weight: bold;
  padding: 2px;
}

.openspace,
.openspaceinfo {
  width: 80%;
  background-color: #fefae0;
  color: #bc6c25; /* Default background color */
  font-size: 10px;
  margin-bottom: 1px;
  font-weight: bold;
  padding: 2px;
}
