


header {
  /* text-align: center; */
  /* background-color: red; Dark background color */
  /* background-color: #283618; */
  color: #fefae0; /* Text color */
  height: 1000px;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}

.title-description {
  background-color: #fefae0; /* Background color for title and description */
  color: #283618;
  margin-bottom: 50px; /* Space between title/description and feature boxes */
  width: 100%; /* Full width of the header */
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack children vertically */
  border-radius: 50px; /* Rounded corners */
  flex-wrap: nowrap; /* Prevent text wrapping */
}

.title-description h1 {
  font-size: 70px; /* Adjust as needed */
  margin: 0;
  margin-top: 20px;
}

.title-description h3 {
  margin: 0;
  font-size: 25px;
}

.incc {
  display: inline-block;
  background-color: #780000;
  color: #fefae0;
  padding: 10px 20px;
  border-radius: 20px;
}

.title-description h4 {
  margin: 0;
  margin-bottom: 20px;
}

.open {
  margin-top: 30px;
  text-transform: uppercase;
  background-color: #283618;
  color: #fefae0;
  padding: 10px 100px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .title-description h1 {
    font-size: 50px; /* Decrease font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .title-description h1 {
    font-size: 40px; /* Further decrease font size for even smaller screens */
  }
}